<aside class="main-sidebar sidebar-dark-primary elevation-4 nav-compact">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        {#      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">#}
        <span class="brand-text font-weight-light">&nbsp;</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{{ path('index') }}" class="nav-link {% if app.request.get('_route') == 'index' %}active{% endif %}">
                        <i class="fas fa-tachometer-alt"></i> <p>{% trans from 'navigation' %}Dashboard{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('grid_index') }}" class="nav-link {% if app.request.get('_route') == 'grid_index' %}active{% endif %}">
                        <i class="fa fa-table"></i> <p>{% trans from 'navigation' %}Monthly{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('transfer_list') }}" class="nav-link {% if app.request.get('_route') == 'transfer_list' %}active{% endif %}">
                        <i class="far fa-money-bill-alt"></i> <p>{% trans from 'navigation' %}Transfers{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('secondary_controller_index') }}" class="nav-link {% if app.request.get('_route') == 'secondary_controller_index' %}active{% endif %}">
                        <i class="fas fa-home"></i> <p>{% trans from 'navigation' %}Subaccount{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('paypal_index') }}" class="nav-link {% if app.request.get('_route') == 'paypal_index' %}active{% endif %}">
                        <i class="fab fa-paypal"></i> <p>{% trans from 'navigation' %}PayPal{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('tree_last_six_months_index') }}" class="nav-link {% if app.request.get('_route') == 'tree_last_six_months_index' %}active{% endif %}">
                        <i class="fas fa-stream"></i> <p>{% trans from 'navigation' %}Last 6 months{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('tree_index') }}" class="nav-link {% if app.request.get('_route') == 'tree_index' %}active{% endif %}">
                        <i class="fas fa-stream"></i> <p>{% trans from 'navigation' %}Full year{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('chart_index') }}" class="nav-link {% if app.request.get('_route') == 'chart_index' %}active{% endif %}">
                        <i class="fa fa-chart-line"></i> <p>{% trans from 'navigation' %}Chart{% endtrans %}</p>
                    </a>
                </li>
                <li class="nav-item {% if app.request.get('_route') in ['settings_category', 'settings_category_edit', 'settings_category_new', 'settings_assignment', 'settings_assignment_edit', 'settings_assignment_new', 'settings_account', 'settings_account_new', 'settings_account_edit', 'settings_account_edit_credentials', 'settings_account_edit_subaccount', 'settings_gui', 'settings_category_group', 'settings_category_group_edit', 'settings_category_group_new'] %}menu-open{% endif %}" >
                    <a href="#" class="nav-link {% if app.request.get('_route') in ['settings_category', 'settings_category_edit', 'settings_category_new', 'settings_assignment', 'settings_assignment_edit', 'settings_assignment_new', 'settings_account', 'settings_account_new', 'settings_account_edit', 'settings_account_edit_credentials', 'settings_account_edit_subaccount', 'settings_gui'] %}active{% endif %}">
                        <i class="fa fa-cogs"></i>
                        <p>{% trans from 'navigation' %}Settings{% endtrans %} <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('settings_category_group') }}" class="nav-link {% if app.request.get('_route') in ['settings_category_group', 'settings_category_group_edit', 'settings_category_group_new'] %} active{% endif %}">
                                <i class="fas fa-tags"></i> <p>{% trans from 'navigation' %}Categorygroups{% endtrans %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('settings_category') }}" class="nav-link {% if app.request.get('_route') in ['settings_category', 'settings_category_edit', 'settings_category_new'] %} active{% endif %}">
                                <i class="fas fa-tags"></i> <p>{% trans from 'navigation' %}Categories{% endtrans %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('settings_assignment') }}" class="nav-link {% if app.request.get('_route') in ['settings_assignment', 'settings_assignment_edit', 'settings_assignment_new'] %} active{% endif %}">
                                <i class="fas fa-tools"></i> <p>{% trans from 'navigation' %}Assignment Rules{% endtrans %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('settings_account') }}" class="nav-link {% if app.request.get('_route') in ['settings_account', 'settings_account_new', 'settings_account_edit', 'settings_account_edit_credentials', 'settings_account_edit_subaccount'] %}active{% endif %}">
                                <i class="fas fa-landmark"></i> <p>{% trans from 'navigation' %}Bank Accounts{% endtrans %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('settings_gui') }}" class="nav-link {% if app.request.get('_route') == 'settings_gui' %} active{% endif %}">
                                <i class="fas fa-tools"></i> <p>{% trans from 'navigation' %}General{% endtrans %}</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
