{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('settingsAccount') }}
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{% trans %}Settings{% endtrans %} <small>{% trans %}Edit credentials{% endtrans %}</small></h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-8">
                {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig', 'parts/formField.html.twig'] %}
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="card card-custom">
                    <div class="card-header">
                        <h3 class="card-title">{% trans %}Online credentials{% endtrans %}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.username) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.tanMediaName) }}
                        {{ form_row(form.tanMechanism) }}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <a href="{{ path('settings_account') }}" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i> {% trans %}Back{% endtrans %}</a>
                        <button type="submit" class="btn btn-success btn-sm float-right"><i class="fas fa-save"></i> {% trans %}Save{% endtrans %}</button>
                    </div>

                    <!-- /.card-footer -->
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('settingsAccount') }}
{% endblock %}
